@media (min-width: 1066px)
{
    .menu{
        padding-left: calc((100% - 960px)/2);
        padding-right: calc((100% - 960px)/2);
    }

}

@media (min-width: 1440px){
    .container{
        padding-left: calc((100% - 1200px)/2);
        padding-right: calc((100% - 1200px)/2);
    }
}