.footer{
    margin-top: 2rem;
    text-align:	center;
}

.footer-informations{
    font-size: 1rem;
    text-align:	center;
    margin: 2rem;
    line-height: 1rem;

}

.footer-logo{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.footer-address{
    margin-top: 1rem;
}


.social-medias{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
        -ms-flex-line-pack: center;
    align-content: center;

}

.social-medias-item{
    height: 3.5rem;
    width: 3.5rem;
    position: relative;
    
}
.social-medias-item svg{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*-----------------Newsletter-----------------*/
/*-------------------------------------------*/

@media(min-width:	640px)	and	(max-width:	1200px)	{

    .footer	{
        display:	-webkit-box;
        display:	-ms-flexbox;
        display:	flex;
            -ms-flex-wrap:	wrap;
        flex-wrap:	wrap;
            -webkit-box-pack:	space-evenly;
            -ms-flex-pack:	space-evenly;
        justify-content:	space-evenly;
            -webkit-box-align: center;
            -ms-flex-align: center;
        align-items: center;
        font-size:	2rem;
        }

    .footer-informations{
        width:	40%;
        height: 30%;
        line-height: 1.5rem;
    }

    .newsletter-title::before{
        width: 60%;
        top: 110%;

    }

}

@media(min-width:	1200px){
    .footer	{
        display:	-webkit-box;
        display:	-ms-flexbox;
        display:	flex;
            -ms-flex-wrap:	nowrap;
        flex-wrap:	nowrap;
            -webkit-box-pack:	justify;
            -ms-flex-pack:	justify;
        justify-content:	space-between;
        font-size:	2rem;
            -webkit-box-align: center;
            -ms-flex-align: center;
        align-items: center;
        }



    .footer-informations{
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.4rem;
       
       
    
    }

    .informations-one{
        width: 25%;
    }
    

}