.header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

.headersecond{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    box-sizing: border-box; 
}


.logo{
    padding-left: 2rem;
}

.menu a{
    text-decoration: none; 
    color: white; 
}


.menu__links li{
    display: inline-block;
    margin-right: 1.4rem;
}

.menu__links a{
    padding: .8rem 1rem;
   
}

.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: none;
    cursor: pointer;
   
}

#check{
    display: none;
}



@media(max-width: 590px){
    .menu{
        background-color: black;
        display: flex;
        justify-content: space-between;
        
    }

    .checkbtn{
        display: block;
        margin-right: 2rem;
        
    }

   
    .menu__links{
        display: inline;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 4rem;
        margin-top: 1.9rem;
        text-align: center;
        background-color: tomato;
        left: -100%;
        transition: all 0.5s;
        
    }

    .menu__links li{
        display: block;
        line-height: 4rem;
        margin-right: 0;
        
    }

    .menu__links li a{
        display: block;
        font-size: 1.5rem;
        
        
    }
    #check:checked ~ .menu__links{
        left: 0;
    
    }

}




