
.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: transparent;
    -webkit-transition: background-color 1s;
    transition: background-color 0.5s;
    
}

.headersecond{
    position: -webkit-fixed;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    
}


.menu{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 0rem;
    box-sizing: border-box; 
}


.logo{
    padding-left: 2rem;
}

.menu a{
    text-decoration: none; 
    color:  black;
}


.menu__links li{
    display: inline-block;
    margin-right: 1.4rem;
}



.menu__links a{
    padding: .8rem 1rem;
   
}

.menu-item{
    position: relative;
    transition: content ease-in 2s;
}

.fa-bars{
    color: black;
}
.menu-item:hover::before{
    content: "";
    position: absolute;
    width: 50%;
    height: .2rem;
    background-color: #000000;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    
        
    
}

.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: none;
    cursor: pointer;
   
}

#check{
    display: none;
}



@media(max-width: 590px){
    .menu{
        background-color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        
    }

    .checkbtn{
        display: block;
        margin-right: 2rem;
        
    }
    .logo{
        color: white;
    }
   
    .menu__links{
        display: inline;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 4rem;
        margin-top: 1.9rem;
        text-align: center;
        background-color: white;
        left: -100%;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        
    }

    .menu__links li{
        display: block;
        line-height: 4rem;
        margin-right: 0;
        
    }

    .menu__links li a{
        display: block;
        font-size: 1.5rem;
        
        
    }
    #check:checked ~ .menu__links{
        left: 0;
    
    }

}




